/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .main-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  aside {
    flex-basis: 40%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  article {
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .form-btn-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bg-cornsilk {
    background-color: #fff8dc;
  }
  
  .bg-reset {
    background-color: #ccc;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }

  input[type="text"] {
    color: #000;
    background-color: #fff;
    font-size: 16px; /* Ukuran teks yang cukup besar */
    padding: 10px; /* Tambah padding untuk memastikan ruang cukup */
    border: 1px solid #333; /* Garis tepi yang jelas */
}